# python
**/__pycache__/
**/.pylint.d/
**/.coverage
tests/reports/
tests/htmlcov/
**/*.egg-info

# pyinstaller
*.spec
build
dist

# work files
.vscode/

# cProfile output file
o

ideas.txt
todo.txt
diary.txt
doc
*.sav
